<
<style>
 
 *{font-size:20px;
  font-family:'Dosis';
 }
 .a{width:20px;height:20px;}
</style>
<div class="about">
    <br /><br /><br /><br /><br />
<p style="font-size:40px;">결제가 완료 되었습니다!!</p>
<br /><br />
<a href='/front_pages/home'>홈 화면으로 이동하기</a>
</div>