<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=kr">
<script language="javascript">
<!--
function itemSum(frm)
{
   var sum = 0;
   var count = frm.chkbox.length;
   for(var i=0; i < count; i++ ){
       if( frm.chkbox[i].checked == true ){
	    sum += parseInt(frm.chkbox[i].value);
       }
   }
   frm.total_sum.value = sum;
}
//-->
</script>
</head>
<table border= "test">
<h3>[자아존중감 검사]</h3>
<form> * 성별을 선택해 주세요.
<br>성별 :
<input type="radio" name="gender" value="male"> 남성
<input type="radio" name="gender" value="female"> 여성
</form>
<br><br>
<form> * 해당하는 곳에 선택해 주세요. <br>
<input type="radio" name="school" value="elementary"> 초등학생
<input type="radio" name="school" value="middle"> 중학생
<input type="radio" name="school" value="high"> 고등학생
</form>

<body>
<form name="form">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>1.나는 부모님, 선생님, 친구로부터 사랑을 받고 있는 편이다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr><br>
  <tr>
    <td>2.나의 미래는 밝은 편이며, 더 나아지려고 노력하고 있다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>3.대체로 나는 현재의 나 자신에 대해 만족한다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>4.이제까지 나 자신을 좋은 사람으로 여기지 않았다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>5. 나 자신에 관해 다른 사람에게 자랑할 것이 별로 없다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>6.나는 남과 비교해 보아 좋은 점이라고는 하나도 없다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>7.나는 나 자신이 쓸모 없는 사람이라고 느낄 때가 많다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>8.가끔 나 아닌 다른 사람이 되었으면 하는 생각이 든다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>9.나는 내가 미워질 때가 있다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
  <tr>
    <td>10. 나는 나 자신이 잘못된 사람이라고 느껴질 때가 있다.</td>
    <td height="25">&nbsp;1<input name="chkbox" type="checkbox" value="1" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;2<input name="chkbox" type="checkbox" value="2" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;3<input name="chkbox" type="checkbox" value="3" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;4<input name="chkbox" type="checkbox" value="4" onClick="itemSum(this.form);">&nbsp;</td>
    <td height="25">&nbsp;5<input name="chkbox" type="checkbox" value="5" onClick="itemSum(this.form);">&nbsp;</td>
  </tr>
</table><br>
<table>
    <tr>
    <td height="25">&nbsp;당신의 점수는 &nbsp;<input name="total_sum" type="text" size="20" readonly></td>
  </tr>
</table>
</form>

</body>
</html>