<style>
 
 *{font-size:20px;
  font-family:'Dosis';
 }
 .a{width:20px;height:20px;}
</style>
<div class="about">
    <br /> <br /> <br />
<p style="font-size:50px;">로그인 후 이용해주세요!</p>
  <br /> <br /> <br />
    <br /> <br /> <br />
<p><%=link_to '로그인하러 가기', new_user_session_path %></p>
</div>